adal==1.2.7
agno==1.7.8
aioconsole==0.8.1
aiodns==3.3.0
aiofiles==24.1.0
aiohappyeyeballs==2.4.4
aiohttp==3.11.12
aiosignal==1.3.2
alembic==1.16.2
altair==5.5.0
aniso8601==10.0.0
annotated-types==0.7.0
antlr4-python3-runtime==4.13.2
anyio==4.9.0
appdirs==1.4.4
applicationinsights==0.11.9
argcomplete==3.6.2
arrow==1.3.0
asgiref==3.8.1
asyncio-atexit==1.0.1
attrs==25.3.0
audioop-lts==0.2.1
autogen-agentchat==0.5.7
autogen-core==0.5.7
autogen-ext==0.5.7
azure-ai-contentsafety==1.0.0
azure-ai-documentintelligence==1.0.0b4
azure-ai-generative==1.0.0b11
azure-ai-resources==1.0.0b9
azure-appconfiguration==1.7.1
azure-batch==14.2.0
azure-cli==2.68.0
azure-cli-core==2.68.0
azure-cli-telemetry==1.1.0
azure-cognitiveservices-speech==1.41.1
azure-common==1.1.28
azure-core==1.33.0
azure-core-tracing-opentelemetry==1.0.0b12
azure-cosmos==4.9.0
azure-data-tables==12.4.0
azure-datalake-store==0.0.53
azure-identity==1.19.0
azure-keyvault-administration==4.4.0b2
azure-keyvault-certificates==4.7.0
azure-keyvault-keys==4.9.0b3
azure-keyvault-secrets==4.7.0
azure-mgmt-advisor==9.0.0
azure-mgmt-apimanagement==4.0.0
azure-mgmt-appconfiguration==3.1.0
azure-mgmt-appcontainers==2.0.0
azure-mgmt-applicationinsights==1.0.0
azure-mgmt-authorization==4.0.0
azure-mgmt-batch==17.3.0
azure-mgmt-batchai==7.0.0b1
azure-mgmt-billing==6.0.0
azure-mgmt-botservice==2.0.0b3
azure-mgmt-cdn==12.0.0
azure-mgmt-cognitiveservices==13.5.0
azure-mgmt-compute==33.0.0
azure-mgmt-containerinstance==10.2.0b1
azure-mgmt-containerregistry==10.3.0
azure-mgmt-containerservice==33.0.0
azure-mgmt-core==1.3.2
azure-mgmt-cosmosdb==9.7.0
azure-mgmt-databoxedge==1.0.0
azure-mgmt-datalake-store==1.1.0b1
azure-mgmt-datamigration==10.0.0
azure-mgmt-devtestlabs==4.0.0
azure-mgmt-dns==8.0.0
azure-mgmt-eventgrid==10.2.0b2
azure-mgmt-eventhub==10.1.0
azure-mgmt-extendedlocation==1.0.0b2
azure-mgmt-hdinsight==9.1.0b1
azure-mgmt-imagebuilder==1.3.0
azure-mgmt-iotcentral==10.0.0b1
azure-mgmt-iothub==3.0.0
azure-mgmt-iothubprovisioningservices==1.1.0
azure-mgmt-keyvault==10.3.0
azure-mgmt-loganalytics==13.0.0b4
azure-mgmt-managementgroups==1.0.0
azure-mgmt-maps==2.0.0
azure-mgmt-marketplaceordering==1.1.0
azure-mgmt-media==9.0.0
azure-mgmt-monitor==5.0.0
azure-mgmt-msi==7.0.0
azure-mgmt-mysqlflexibleservers==1.0.0b3
azure-mgmt-netapp==10.1.0
azure-mgmt-policyinsights==1.1.0b4
azure-mgmt-postgresqlflexibleservers==1.1.0b1
azure-mgmt-privatedns==1.0.0
azure-mgmt-rdbms==10.2.0b17
azure-mgmt-recoveryservices==3.0.0
azure-mgmt-recoveryservicesbackup==9.1.0
azure-mgmt-redhatopenshift==1.5.0
azure-mgmt-redis==14.4.0
azure-mgmt-resource==22.0.0
azure-mgmt-search==9.0.0
azure-mgmt-security==6.0.0
azure-mgmt-servicebus==8.2.0
azure-mgmt-servicefabric==2.1.0
azure-mgmt-servicefabricmanagedclusters==2.0.0b6
azure-mgmt-servicelinker==1.2.0b3
azure-mgmt-signalr==2.0.0b2
azure-mgmt-sql==4.0.0b20
azure-mgmt-sqlvirtualmachine==1.0.0b5
azure-mgmt-storage==21.2.0
azure-mgmt-synapse==2.1.0b5
azure-mgmt-trafficmanager==1.0.0
azure-mgmt-web==7.2.0
azure-monitor-opentelemetry==1.6.5
azure-monitor-opentelemetry-exporter==1.0.0b35
azure-monitor-query==1.4.0
azure-multiapi-storage==1.3.0
azure-search-documents==11.5.2
azure-storage-blob==12.25.1
azure-storage-common==1.4.2
azure-storage-file-datalake==12.20.0
azure-storage-file-share==12.21.0
azure-synapse-accesscontrol==0.5.0
azure-synapse-artifacts==0.19.0
azure-synapse-managedprivateendpoints==0.4.0
azure-synapse-spark==0.2.0
backoff==2.2.1
bcrypt==4.2.1
Beaker==1.12.1
beautifulsoup4==4.13.4
binaryornot==0.4.4
bitarray==3.0.0
blinker==1.9.0
blivet==3.12.1
blivet-gui==2.6.0
boto3==1.39.11
botocore==1.39.11
Brlapi==0.8.6
Brotli==1.1.0
bs4==0.0.1
build==1.2.2.post1
cachetools==5.5.2
certifi==2024.8.30
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.1
chromadb==1.0.13
ckzg==2.0.1
click==8.1.7
cloudpickle==3.1.1
cobble==0.1.4
colorama==0.4.6
coloredlogs==15.0.1
comfy-cli==1.4.1
comfyui_frontend_package==1.23.4
contourpy==1.3.2
cookiecutter==2.6.0
crypt_r==3.13.1
cryptography==44.0.0
cson==0.8
cssselect==1.2.0
cupshelpers==1.0
cupy==13.4.1
cycler==0.12.1
cytoolz==1.0.1
dasbus==1.7
databricks-sdk==0.50.0
dataclasses-json==0.6.7
datasets==3.1.0
dbus-python==1.3.2
dbus_next==0.2.3
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.18
dill==0.3.8
distro==1.9.0
Django==5.1.7
dnf==4.23.0
dnspython==2.7.0
docker==7.1.0
docstring_parser==0.16
dotenv==0.9.9
durationpy==0.10
easyocr==1.7.2
email_validator==2.2.0
et_xmlfile==2.0.0
eth-account==0.13.5
eth-hash==0.7.1
eth-keyfile==0.8.1
eth-keys==0.6.1
eth-rlp==2.2.0
eth-typing==5.1.0
eth-utils==5.2.0
eth_abi==5.2.0
evdev==1.9.1
fabric==3.2.2
fastapi==0.115.12
fastapi-cli==0.0.7
fastrlock==0.8.3
fedora-third-party==0.10
file-magic==0.4.0
filelock==3.17.0
filetype==1.2.0
firecrawl-py==2.16.5
fixedint==0.1.6
Flask==3.1.0
Flask-Cors==4.0.2
flask-restx==1.3.0
flatbuffers==25.2.10
fluidity-sm==0.2.0
fonttools==4.57.0
fros==1.1
frozenlist==1.5.0
fsspec==2024.9.0
fuzzywuzzy==0.18.0
gevent==24.11.1
gitdb==4.0.12
GitPython==3.1.44
google-api-core==2.24.2
google-auth==2.39.0
google_search_results==2.4.1
googleapis-common-protos==1.69.2
googlesearch-python==1.3.0
greenlet==3.1.1
grpcio==1.73.0
h11==0.16.0
h5py==3.13.0
hexbytes==1.3.0
html2text==2020.1.16
httpcore==1.0.9
httptools==0.6.4
httpx==0.28.1
httpx-sse==0.4.0
huggingface-hub==0.30.2
humanfriendly==10.0
humanize==4.12.0
idna==3.10
imageio==2.37.0
imageio-ffmpeg==0.6.0
importlib_metadata==8.6.1
importlib_resources==6.5.2
iniconfig==1.1.1
initial-setup==0.3.101
inkex==1.4.0
input-remapper==2.1.1
invoke==2.2.0
iso639==0.1.4
isodate==0.7.2
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
javaproperties==0.8.2
jeepney==0.9.0
Jinja2==3.1.5
jiter==0.10.0
jmespath==1.0.1
joblib==1.4.2
jsondiff==2.2.1
jsonlines==4.0.0
jsonpatch==1.33
jsonpointer==3.0.0
jsonref==1.1.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
keyring==24.3.1
kiwisolver==1.4.8
knack==0.12.0
kubernetes==33.1.0
langchain==0.3.23
langchain-community==0.3.21
langchain-core==0.3.55
langchain-openai==0.2.5
langchain-text-splitters==0.3.8
langsmith==0.3.32
langtable==0.0.69
lazy_loader==0.4
Levenshtein==0.26.1
lexicon==2.0.1
libcomps==0.1.21
libdnf==0.74.0
loguru==0.7.3
louis==3.33.0
lxml==5.3.2
magentic_ui==0.0.6
magika==0.6.1
Mako==1.2.3
mammoth==1.9.0
Markdown==3.7
markdown-it-py==3.0.0
markdownify==0.13.1
-e git+https://github.com/microsoft/markitdown.git@041be5447148e7455d38af986b1fc64bc420b62a#egg=markitdown&subdirectory=packages/markitdown
MarkupSafe==3.0.2
marshmallow_dataclass==8.7.1
matplotlib==3.9.2
matrix-client==0.4.0
mcp==1.9.4
mdurl==0.1.2
microsoft-security-utilities-secret-masker==1.0.0b4
mixpanel==4.10.1
mlflow-skinny==2.21.3
mmh3==5.1.0
mnemonic==0.21
more-itertools==10.6.0
moviepy==2.1.2
mpmath==1.3.0
msal==1.32.3
msal-extensions==1.3.1
msrest==0.7.1
msrestazure==0.6.4
multidict==6.1.0
multiprocess==0.70.16
mutagen==1.47.0
mypy-extensions==1.0.0
narwhals==2.0.1
nest-asyncio==1.6.0
networkx==3.4.2
nftables==0.1
ninja==1.11.1.3
numpy==2.2.2
nvautoinstall==0.4.2
nvidia-cublas-cu12==12.4.5.8
nvidia-cuda-cupti-cu12==12.4.127
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-cuda-runtime-cu12==12.4.127
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.2.1.3
nvidia-curand-cu12==10.3.5.147
nvidia-cusolver-cu12==11.6.1.9
nvidia-cusparse-cu12==12.3.1.170
nvidia-cusparselt-cu12==0.6.2
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu12==12.4.127
oauthlib==3.2.2
olefile==0.47
ollama==0.5.1
onnxruntime==1.21.1
open-fprintd==0.6
openai==1.90.0
opencensus==0.11.4
opencensus-context==0.1.3
opencensus-ext-azure==1.1.14
opencensus-ext-logging==0.1.1
opencv-contrib-python==4.11.0.86
opencv-python-headless==4.10.0.84
openpyxl==3.1.5
opentelemetry-api==1.34.1
opentelemetry-exporter-otlp-proto-common==1.34.1
opentelemetry-exporter-otlp-proto-grpc==1.34.1
opentelemetry-exporter-otlp-proto-http==1.31.1
opentelemetry-instrumentation==0.52b1
opentelemetry-instrumentation-asgi==0.52b1
opentelemetry-instrumentation-dbapi==0.52b1
opentelemetry-instrumentation-django==0.52b1
opentelemetry-instrumentation-fastapi==0.52b1
opentelemetry-instrumentation-flask==0.52b1
opentelemetry-instrumentation-psycopg2==0.52b1
opentelemetry-instrumentation-requests==0.52b1
opentelemetry-instrumentation-urllib==0.52b1
opentelemetry-instrumentation-urllib3==0.52b1
opentelemetry-instrumentation-wsgi==0.52b1
opentelemetry-proto==1.34.1
opentelemetry-resource-detector-azure==0.1.5
opentelemetry-sdk==1.34.1
opentelemetry-semantic-conventions==0.55b1
opentelemetry-util-http==0.52b1
orjson==3.10.16
outcome==1.3.0.post0
overrides==7.7.0
packaging==24.2
pandas==2.2.3
paramiko==3.5.1
parsimonious==0.10.0
Paste==3.10.1
pathspec==0.12.1
pdf2image==1.17.0
pdflatex==0.1.3
pdfminer.six==20250416
perf==0.1
pexpect==4.9.0
pid==2.2.3
pillow==11.2.1
pipx==1.7.1
pkginfo==1.12.0
platformdirs==4.2.2
playwright==1.51.0
ply==3.11
portalocker==3.1.1
posthog==5.4.0
productmd==1.45
proglog==0.1.10
progressbar2==4.5.0
prompt_toolkit==3.0.51
promptflow==1.16.1
promptflow-core==1.16.1
promptflow-devkit==1.16.1
promptflow-tools==1.6.0
promptflow-tracing==1.16.1
propcache==0.2.1
proto-plus==1.26.1
protobuf==5.29.4
proton-core==0.4.0
proton-keyring-linux==0.2.0
proton-vpn-api-core==0.42.5
proton-vpn-gtk-app==4.9.7
proton-vpn-network-manager==0.12.14
psutil==6.1.1
psycopg==3.2.9
ptyprocess==0.7.0
pwquality==1.4.5
pyarrow==19.0.1
pyasn1==0.6.1
pyasn1_modules==0.4.2
pybase64==1.4.1
pycairo==1.25.1
pycares==4.9.0
pyclipper==1.3.0.post6
pycomposefile==0.0.32
pycountry==24.6.1
pycparser==2.20
pycrypto==2.6.1
pycryptodome==3.21.0
pycryptodomex==3.23.0
pycups==2.0.4
pydantic==2.10.6
pydantic-settings==2.9.1
pydantic_core==2.27.2
pydash==7.0.7
pydbus==0.6.0
pydeck==0.9.1
pydub==0.25.1
pyee==12.1.1
pyenchant==3.2.2
pygame==2.6.1
pygdbmi==0.11.0.0
PyGithub==2.5.0
Pygments==2.18.0
PyGObject==3.50.0
pyinotify==0.9.6
PyJWT==2.8.0
pykickstart==3.62
PyMuPDF==1.24.12
PyNaCl==1.5.0
pyOpenSSL==25.0.0
pyparsing==3.1.2
pyparted==3.13.0
PyPika==0.48.9
pyproject_hooks==1.2.0
PyQt5==5.15.11
PyQt5_sip==12.16.1
pyserial==3.5
PySocks==1.7.1
pytesseract==0.3.13
python-augeas==1.2.0
python-bidi==0.6.3
python-dateutil==2.8.2
python-dotenv==1.0.1
python-gnupg==0.5.4
python-Levenshtein==0.26.1
python-linux-procfs==0.7.3
python-meh==0.52
python-multipart==0.0.20
python-pam==2.0.2
python-pptx==1.0.2
python-slugify==8.0.4
python-utils==3.9.0
python-validity==0.15
pytz==2025.2
pyudev==0.24.3
pyunormalize==16.0.0
pyusb==1.3.1
pyxdg==0.27
PyYAML==6.0.2
questionary==2.1.0
RapidFuzz==3.12.1
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
requests-file==2.0.0
requests-ftp==0.3.1
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
rich==14.0.0
rich-toolkit==0.14.7
rlp==4.1.0
rpds-py==0.24.0
rpm==4.20.1
rpmautospec==0.8.1
rpmautospec-core==0.1.5
rsa==4.9.1
ruamel.yaml==0.18.10
ruff==0.12.0
s3transfer==0.13.1
safetensors==0.5.3
scikit-image==0.25.1
scikit-learn==1.5.2
scipy==1.15.1
scour==0.38.2
scp==0.15.0
SecretStorage==3.3.3
selenium==3.141.0
selinux @ file:///builddir/build/BUILD/libselinux-3.8-build/libselinux-3.8/src
semver==3.0.2
sentry-sdk==2.21.0
sepolicy @ file:///builddir/build/BUILD/policycoreutils-3.8-build/selinux-3.8/python/sepolicy
setools==4.5.1
setuptools==74.1.3
shapely==2.0.7
shellingham==1.5.4
shtab==1.7.1
simpleaudio==1.0.4
simpleline==1.9.0
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
sortedcontainers==2.4.0
sos==4.9.1
soupsieve==2.2.1
SpeechRecognition==3.14.2
speg==0.3
SQLAlchemy==2.0.40
sqlmodel==0.0.24
sqlparse==0.5.3
sse-starlette==2.3.6
sshtunnel==0.4.0
standard-aifc==3.13.0
standard-chunk==3.13.0
starlette==0.46.1
streamlit==1.48.0
strictyaml==1.7.3
sympy==1.13.1
systemd-python==235
tabulate==0.9.0
tenacity==9.1.2
termcolor==3.1.0
text-unidecode==1.3
threadpoolctl==3.6.0
tifffile==2025.1.10
tiktoken==0.8.0
tinycss2==1.4.0
tldextract==5.3.0
tokenizers==0.21.1
toml==0.10.2
tomli==2.2.1
tomlkit==0.13.3
toolz==1.0.0
torch==2.6.0
torchaudio==2.6.0
torchvision==0.21.0
tornado==6.5.1
tqdm==4.66.1
transformers==4.51.3
trio==0.29.0
trio-websocket==0.12.2
triton==3.2.0
typeguard==4.4.2
typer==0.16.0
types-python-dateutil==2.9.0.20250516
types-requests==2.32.0.20241016
typing-inspect==0.9.0
typing-inspection==0.4.1
typing_extensions==4.12.2
tzdata==2025.2
ufw==0.35
urllib3==1.26.18
userpath==1.9.2
uv==0.7.15
uvicorn==0.34.2
uvloop==0.21.0
validators==0.18.2
waitress==2.1.2
watchdog==6.0.0
watchfiles==1.1.0
wcwidth==0.2.13
web3==7.8.0
webdriver-manager==4.0.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==13.1
Werkzeug==3.1.3
wrapt==1.17.1
wsproto==1.2.0
xkbregistry==0.3
xlrd==2.0.1
XlsxWriter==3.2.3
xmltodict==0.13.0
xxhash==3.5.0
yarl==1.18.3
youtube-transcript-api==1.0.3
yt-dlp==2025.6.25
zipp==3.21.0
zope.event==5.0
zope.interface==7.2
zstandard==0.23.0
